@import 'partials/normalize';
@import 'partials/colors';
@import 'partials/fonts';

h1,h2,h3,h4,h5,p {
	margin: 0;
}

h1,h2,h3,h4,h5 {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
}

img {
	max-width: 100%;	
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.section {
	padding: 65px 0;
}

.content-box {
	max-width: 1140px;
	display: flex;
}

.btn {
	border: none;
	background: $primaryColor;
	color: white;
	box-shadow: 0 2px 3px 1px $titleGrey;
	height: 100%;
	font-family: 'Noto Sans', cursive;
	font-family: 400;
}

.wrapper {
	max-width: 1140px;
	width: 95%;
	margin: 0 auto;
}

.upper-nav {
	background: black;
	color: white;
	padding: 10px 0;
	.wrapper {
		display: flex;
		justify-content: space-between;
		.fa:before {
			margin-right: 10px;
		}
	}
}

nav {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.nav-items {
			width: 60%;
			height: 85px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 15px;
			li {
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-content: center;
				a {
					display: flex;
					align-items: center;
				}
			}
		}
		.btn {
			width: 115px;
			height: 34px;
		}
	}
}

header {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/home-slider.jpg');
	background-size: cover;
	background-position: center;
	height: calc(100vh - 90px);
	width: 100%;
	color: white;
	.wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
}

.offers {
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.box {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
}
.box-main {
	width: 30%;
	padding: 70px 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.box-sub {
	width: 70%;
	border: 1px solid blue;
		flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
	.box {
		width: 50%;
		height: 50%;
		justify-content: flex-end;
		align-items: center;
	}
}

.welcome {
	background: url('../../assets/services-wrap.jpg');
	background-size: cover;
	background-position: center;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			color: white;
		}
	}
}

.welcome .content-box {
	flex-direction: column;
}

.amenities-bar {
	background: rgba($titleGrey, 0.9);
	display: flex;
	justify-content: space-around;
	width: 45%;
	margin: 0 auto;
	.amenity {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		h5 {
			font-size: 16px;
			margin-top: 10px;
		}
		img {
			width: 25px;
		}
	}
}

.amenities-detail {
	background: white;
	display: flex;
	padding: 50px;
	.detail-image {
		width: 42%;
	}
	.detail-description {
		width: 58%;
		// padding: 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.services {
			color: $primaryColor;
			display: flex;
			width: 70%;
			justify-content: space-between;
		}
	}
}

.staffing .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		color: $primaryColor;
	}
	.content-box {
		justify-content: space-between;
	}
}

.staff {
	width: 31.5%;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	

}
.staff1 {
	background-image: url('../../assets/staff1.jpg');
}
.staff2 {
	background-image: url('../../assets/staff2.jpg');
}
.staff3 {
	background-image: url('../../assets/staff3.jpg');
}

.staff-overlay {
	background: rgba(0,0,0,0.9);
	color: white;
	clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
	padding: 0 70px;
	.fa {
		border: 1px solid white;
		border-radius: 50%;
		padding: 10px;
		width: 40px;
	}
}