article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 48px;
  font-family: 'Noto Serif', serif; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

nav {
  font-family: 'Noto Sans';
  font-size: 16px; }

.subheading {
  font-size: 26px;
  font-family: 'Noto Sans'; }

button {
  font-size: 16px; }

p {
  font-family: 'Ubuntu'; }

.fa {
  font-size: 16px; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif', serif;
  font-weight: 400; }

img {
  max-width: 100%; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.section {
  padding: 65px 0; }

.content-box {
  max-width: 1140px;
  display: -ms-flexbox;
  display: flex; }

.btn {
  border: none;
  background: #ff401b;
  color: white;
  box-shadow: 0 2px 3px 1px #888888;
  height: 100%;
  font-family: 'Noto Sans', cursive;
  font-family: 400; }

.wrapper {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto; }

.upper-nav {
  background: black;
  color: white;
  padding: 10px 0; }
  .upper-nav .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .upper-nav .wrapper .fa:before {
      margin-right: 10px; }

nav .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  nav .wrapper .nav-items {
    width: 60%;
    height: 85px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 10px 15px; }
    nav .wrapper .nav-items li {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-line-pack: center;
          align-content: center; }
      nav .wrapper .nav-items li a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
  nav .wrapper .btn {
    width: 115px;
    height: 34px; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/home-slider.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 90px);
  width: 100%;
  color: white; }
  header .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
    height: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }

.offers .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border: 1px solid red; }

.box-main {
  width: 30%;
  padding: 70px 30px;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center; }

.box-sub {
  width: 70%;
  border: 1px solid blue;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: space-between;
      align-items: space-between; }
  .box-sub .box {
    width: 50%;
    height: 50%;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center; }

.welcome {
  background: url("../../assets/services-wrap.jpg");
  background-size: cover;
  background-position: center; }
  .welcome .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .welcome .wrapper h2 {
      color: white; }

.welcome .content-box {
  -ms-flex-direction: column;
      flex-direction: column; }

.amenities-bar {
  background: rgba(136, 136, 136, 0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
  margin: 0 auto; }
  .amenities-bar .amenity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px; }
    .amenities-bar .amenity h5 {
      font-size: 16px;
      margin-top: 10px; }
    .amenities-bar .amenity img {
      width: 25px; }

.amenities-detail {
  background: white;
  display: -ms-flexbox;
  display: flex;
  padding: 50px; }
  .amenities-detail .detail-image {
    width: 42%; }
  .amenities-detail .detail-description {
    width: 58%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .amenities-detail .detail-description .services {
      color: #ff401b;
      display: -ms-flexbox;
      display: flex;
      width: 70%;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.staffing .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .staffing .wrapper h2 {
    color: #ff401b; }
  .staffing .wrapper .content-box {
    -ms-flex-pack: justify;
        justify-content: space-between; }

.staff {
  width: 31.5%;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  text-align: center; }

.staff1 {
  background-image: url("../../assets/staff1.jpg"); }

.staff2 {
  background-image: url("../../assets/staff2.jpg"); }

.staff3 {
  background-image: url("../../assets/staff3.jpg"); }

.staff-overlay {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  padding: 0 70px; }
  .staff-overlay .fa {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 40px; }
